.DS_Store
.amplify-hosting
dist
node_modules
package-lock.json

# React Router
/.react-router/
/build/

# Dependencies
/.pnp
.pnp.js

# Logs
/logs
*.log

# Coverage directory used by testing tools
/coverage

# Misc
*.pem

# Typescript
*.tsbuildinfo

# Dotenv and similar local-only files
*.local

.env