@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  @apply bg-dark font-sans text-white;
}

@theme inline {
  --font-sans: "Open Sans", sans-serif;
  --font-mono: "Fira Code", monospace;
  --color-dark: #121212;
  --color-gray-dark: #3D3D3D;
  --color-light: #F5F5F5;
  --color-gray-light: #A6A6A6;
}
